@import "tailwindcss";
@import './component/background.css';
@import './component/card.css';

:root {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #0067b0;
  --color-dark: #002147;
  --color-secondary: #007CC3;
  --color-muted: #6B7280;
  --color-lightBorder: #ebebeb;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

.react-datepicker-popper {
  z-index: 50 !important;
}

.react-datepicker__header {
  background-color: transparent !important;   /* soft purple */
  border-bottom: none !important;
}

.react-datepicker__day--selected {
  background-color: var(--color-primary)!important;  /* main purple */
  color: white !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--color-primary) !important;
}

.react-datepicker__navigation {
  top: 12px !important;
}

.react-datepicker__navigation-icon::before {
  border-color: var(--color-primary)!important;
}

@media only screen and (max-width: 648px) {
  .react-datepicker {
    transform: scale(0.7);
    transform-origin: top center;
  }
}